{{! Global SVG symbol sprite (Lucide icons subset) }}
<svg xmlns="http://www.w3.org/2000/svg" style="position:absolute;width:0;height:0;overflow:hidden" aria-hidden="true" focusable="false">
  <symbol id="icon-chevrons-left" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="m11 17-5-5 5-5" />
    <path d="m18 17-5-5 5-5" />
  </symbol>
  <symbol id="icon-chevrons-right" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="m13 17 5-5-5-5" />
    <path d="m6 17 5-5-5-5" />
  </symbol>
</svg>
